:root {
  --white-color: #fff;
  --text-color: #6C6D84;
  --accent-color: #FA5555;

  --main-dark: #040325;
  --main-color: #FF8A71;
  --main-turquoise: #00B0B9;

  --header-height: 42px;
  --footer-height: 70px;

  --border-radius: 10px;
  --screen-width: 650px;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

.main-dark {
  color: var(--main-dark);
}

.main-color {
  color: var(--main-color);
}